<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AutoCareV2._0.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="AutoCareV2._0.Properties.Settings.DataSet4" connectionString="Data Source=123.30.59.159;User ID=autocare_user;Password=Autocare!@#" providerName="System.Data.SqlClient" />
    <add name="AutoCareV2._0.Properties.Settings.BaoCaoPhuTungThayTheDinhKy" connectionString="Data Source=125.212.201.52;Initial Catalog=Autocare_Sercurity;User ID=autocare;Password=autocare@2020" providerName="System.Data.SqlClient" />
    <add name="ThoiGianDiaChiDatPhuTungKhoKhac" connectionString="metadata=res://*/ThoiGianDiaChiDatPhuTung.csdl|res://*/ThoiGianDiaChiDatPhuTung.ssdl|res://*/ThoiGianDiaChiDatPhuTung.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=125.212.201.52;initial catalog=Autocare_Sercurity;user id=autocare;password=autocare@2020;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LayDanhSachPhuTungTheoDonEntities" connectionString="metadata=res://*/DanhSachPhuTungDuocDatModel.csdl|res://*/DanhSachPhuTungDuocDatModel.ssdl|res://*/DanhSachPhuTungDuocDatModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=125.212.201.52;initial catalog=Autocare_Sercurity;user id=autocare;password=autocare@2020;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LayDanhSachPhuTungTheoDonDatEntities" connectionString="metadata=res://*/LayDanhSachPhuTungTheoDonDatModel.csdl|res://*/LayDanhSachPhuTungTheoDonDatModel.ssdl|res://*/LayDanhSachPhuTungTheoDonDatModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=125.212.201.52;initial catalog=Autocare_Sercurity;user id=autocare;password=autocare@2020;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ChiTietPhuTungLuanChuyenEntities" connectionString="metadata=res://*/DanhSachPhuTungLuanChuyenModel.csdl|res://*/DanhSachPhuTungLuanChuyenModel.ssdl|res://*/DanhSachPhuTungLuanChuyenModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=125.212.201.52;initial catalog=Autocare_Sercurity;user id=autocare;password=autocare@2020;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup>
  <userSettings>
    <AutoCareV2._0.Properties.Settings>
      <setting name="grvLichSuBaoDuong" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="grvPhuTung" serializeAs="String">
        <value>False</value>
      </setting>
    </AutoCareV2._0.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>
